{% extends 'base.html' %}
 
{% block title %}Login{% endblock %}
 
{% block content %}
  	<h2>Welcome!</h2>
  	 
  	{% if user.is_authenticated %}
     
     <table width='100%'>
     <tr>
     <td>
      Hi {{ user.username }}!
  	</td>
  		<td>
  	  <a href="https://github.com/renuchauhan625/MemePointOfficial/blob/master/README.md" class="btn btn-primary switch" style="float: right;">Read Me</a></li>
  	</td>
  	<td>
      <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a></td>
      </tr>
      </table>
      
      <br>
      <br>
      <br>
      
      <img src="{{meme_url}}" />
      </br>
      </br>
      <form class="row g-3">
 	 
	      {% for box_num in box_count %}
	      	
	      		<div class="col-md-12">
	      		 
		      		 <label for="box" class="form-label">Box {{box_num}}</label>
		      		<input type='text' name="box{{box_num}}" class="form-control" id="box" />
		      		</br>
		        </div> 
			
					      	
	      {%endfor%}
	     
	      <div class="col-6">
			  <input type="submit" class="btn btn-success" value="Generate Meme" name="results"/>
				    
			<button class="btn btn-primary" onclick="download('{{meme_url}}')">Download Meme</button>
			
		     <a href="/cookie/" class="btn btn-primary">Generate More Memes</a>
         </div>
	    
      </form>

    

    {% else %}
      <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
{% endblock %}